
{% include "app1/base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'books1.css' %}">
<section>
    <div class="banner">
        <span class="line"></span>
        <div class="text">BOOK PUBLICATIONS</div>
        <span class="line"></span>
    </div> 
    <div class="container">
        
        <a target="_blank" href="https://www.routledge.com/Leveraging-the-Potential-of-Artificial-Intelligence-in-the-Real-World-Smart-Cities-and-Healthcare/Tran-Onyema-Abougreen/p/book/9781032667485?srsltid=AfmBOor6LuwZD-a-vWNSMbkQqPYZstccuN8T5zquZgbLdp0I_Rqf84mD">
            <div class="card">
                <img src="{% static 'book2.jpg' %}" alt="Vanilla Cone">
                <div class="card-title">Leveraging the Potential of Artificial Intelligence in the Real World<br><em>Smart Cities and Healthcare</em></div>
            </div>
        </a>
        <a target="_blank" href="https://link.springer.com/book/9789819677528?srsltid=AfmBOoqKHSgKiD_fKsBubkeXwkaqU-XMJ0YqLTQKOLOBeWBA0yf3QyGZ">
            <div class="card">
                <img src="{% static 'book6.jpeg' %}" alt="Vanilla Cone">
                <div class="card-title">Hybrid Intelligence<br><em>Theories and Applications</em><br><p class="white">.</p></div>
            </div>
        </a>
        <a target="_blank" href="https://www.routledge.com/Defending-the-Metaverse-Cybersecurity-Strategies-for-the-Next-Generation-Internet/Sheth-Ouaissa-Ouaissa-Onyema-Parekha/p/book/9781032946832?srsltid=AfmBOorko6wGTjU1q2INmWmJaEhmNEzQwedt_nFkhmMrWeBoJNReAkNY">
            <div class="card">
                <img src="{% static 'book1.jpeg' %}" alt="Vanilla Cone">
                <div class="card-title">Defending the Metaverse<br><em>Cybersecurity Strategies for the Next Generation Internet</em></div>
            </div>
        </a>
        <a target="_blank" href="https://www.igi-global.com/book/transformative-role-transformer-models-healthcare/367328">
            <div class="card">
                <img src="{% static 'book41.jpeg' %}" alt="Vanilla Cone">
                <div class="card-title">Transformative Role of Transformer Models in Healthcare<br><p class="white">.</p></div>
            </div>
        </a>
        <a target="_blank" href="https://www.igi-global.com/publish/call-for-papers/call-details/8428">
            <div class="card">
                <img src="{% static 'book5.jpg' %}" alt="Vanilla Cone">
                <div class="card-title">Transformative Role of Transformer Models in Healthcare<br><p class="white">.</p></div>
            </div>
        </a>
        <a target="_blank" href="#">
            <div class="card">
                <img src="{% static 'book3.jpg' %}" alt="Vanilla Cone">
                <div class="card-title">Introduction to Compiler Construction <em>2</em> <p class="white">.</p><p class="white">.</p></div>
            </div>
        </a>
        <a target="_blank" href="#">
            <div class="card">
                <img src="{% static 'book4.jpg' %}" alt="Vanilla Cone">
                <div class="card-title">Computer Installation Management <div class="white">.</div><p class="white">.</p></div>
            </div>
        </a>
        <a target="_blank" href="#">
            <div class="card">
                <img src="{% static 'book5.jpg' %}" alt="Vanilla Cone">
                <div class="card-title">Discrete Structures<br>Foundations and Applications for Computer Science</div>
            </div>
        </a>
    </div>
</section>








<body>
<section class="foot">
        {% load static %}
        <link rel="stylesheet" href="{% static 'footer3.css' %}">
        <footer class="site-footer">
            <div class="footer-inner">
                <div class="title">
                    <p>Designed and Developed by:</p>
                </div>
                <div class="contact-item">
                    <span class="contact-label">Call:</span>
                    <a href="tel:+2349130730895" class="contact-link">
                        09130730895
                        <img src="{% static 'phone3.png' %}" alt="Phone" class="gmail-logo">
                    </a>
                </div>
                <div class="contact-item">
                    <span class="contact-label">Email:</span>
                    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=webdevdes989@gmail.com.com" 
                        target="_blank" 
                        rel="noopener noreferrer" 
                        class="contact-link">
                        webdevdes989@gmail.com.com
                        <img src="{% static 'gmail.png' %}" alt="Gmail" class="gmail-logo">
                    </a>
                </div>
            </div>
        </footer>

</section>
</body>
</html>
