{% load static %}
<link rel="stylesheet" href="{% static 'footer2.css' %}">
<footer class="site-footer">
    <div class="footer-inner">
        <div class="title">
            <p>Designed and Developed by:</p>
        </div>
        <div class="contact-item">
            <span class="contact-label">Call:</span>
            <a href="tel:+2349130730895" class="contact-link">
                09130730895
                <img src="{% static 'phone3.png' %}" alt="Phone" class="gmail-logo">
            </a>
        </div>
        <div class="contact-item">
            <span class="contact-label">Email:</span>
            <a href="https://mail.google.com/mail/?view=cm&fs=1&to=webdevdes989@gmail.com.com" 
                target="_blank" 
                rel="noopener noreferrer" 
                class="contact-link">
                webdevdes989@gmail.com.com
                <img src="{% static 'gmail.png' %}" alt="Gmail" class="gmail-logo">
            </a>
        </div>
    </div>
</footer>
