
{% include "app1/base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'rec5.css' %}">

<section>
    {% comment %} <div class="banner">
        <span class="line"></span>
        <div class="text">IMAGES</div>
        <span class="line"></span>
    </div>  {% endcomment %}
    <div class="container">
        <div class="card">
            <iframe
            src="https://www.youtube.com/embed/n40OVS-F0Qo"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            ></iframe>
        </div>
        <div class="card">
            <iframe
            src="https://www.youtube.com/embed/Ou_h-EQdnmA"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            ></iframe>
        </div>
        <div class="card">
            <iframe
            src="https://www.youtube.com/embed/mIzMXY51GY4"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            ></iframe>
        </div>
        <div class="card">
            <iframe
            src="https://www.youtube.com/embed/cgQvJ98xowc"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            ></iframe>
        </div>
        <div class="card">
            <iframe
            src="https://www.youtube.com/embed/7XjGiP3K-5Q"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            ></iframe>
        </div>
        <div class="card">
            <iframe
            src="https://www.youtube.com/embed/e4pjB_4o71Q"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            ></iframe>
        </div>
        <div class="card">
            <iframe
            src="https://www.youtube.com/embed/cnecDvkeGBo"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            ></iframe>
        </div>
        <div class="card">
            <iframe
            src="https://www.youtube.com/embed/MBiFxoVOb0M"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            ></iframe>
        </div>
        <div class="card">
            <iframe
            src="https://www.youtube.com/embed/iCpvpQYnr48"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            ></iframe>
        </div>
        <div class="card">
            <iframe
            src="https://www.youtube.com/embed/WzEyNtWn-0o"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            ></iframe>
        </div>



        
        
        
    </div>
</section>

<section class="foot">
        {% load static %}
        <link rel="stylesheet" href="{% static 'footer3.css' %}">
        <footer class="site-footer">
            <div class="footer-inner">
                <div class="title">
                    <p>Designed and Developed by:</p>
                </div>
                <div class="contact-item">
                    <span class="contact-label">Call:</span>
                    <a href="tel:+2349130730895" class="contact-link">
                        09130730895
                        <img src="{% static 'phone3.png' %}" alt="Phone" class="gmail-logo">
                    </a>
                </div>
                <div class="contact-item">
                    <span class="contact-label">Email:</span>
                    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=webdevdes989@gmail.com.com" 
                        target="_blank" 
                        rel="noopener noreferrer" 
                        class="contact-link">
                        webdevdes989@gmail.com.com
                        <img src="{% static 'gmail.png' %}" alt="Gmail" class="gmail-logo">
                    </a>
                </div>
            </div>
        </footer>

</section>